<div mat-dialog-content>
  <p>Create New Playlist</p>
  <mat-form-field appearance="fill">
    <mat-label>Plalist name</mat-label>
    <input matInput placeholder="Enter Name" [formControl]="name" [errorStateMatcher]="matcher"  required>
    <mat-error *ngIf="name.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

</div>
<div mat-dialog-actions class="actionBtns">
    <button mat-button  (click)="checkForm()" cdkFocusInitial>Ok</button>
    <button mat-button (click)="onNoClick()">Cancel</button>
</div>