<div class="wrapper">
    <div class="container">
        <h1>Description</h1>
        <p>The application is a visual overview of all the music of a chosen folder primarily using the File System Access API. 
            You can listen to your own songs while singing along with the associated lyrics, 
            you can adjust the music with an equalizer to your own liking and watch a visualizer formed on the rhythm of the music. 
            If you don't have local songs on your device, you can make use of the YouTube streaming tab to look up a song and listen along.
            You can also create your own playlists by selecting songs and adding them to the list.
            <br>Go Explore and see for yourself!
            </p>    
    </div>
    <h1>Creators</h1>
    <p>This progressive web application was built by 2 TI students of Odisee Brussels. </p>
    <div id="Creators">
        <mat-card class="creator-card">
            <img mat-card-image src="../../../assets/images/profile_Thomas.jpg" alt="Photo of Thomas">
            <mat-card-content>
              <p>Thomas Weng</p>
              <p>Personal <a href="https://github.com/WengLingXuThomas">Github</a></p>

            </mat-card-content>
          </mat-card>
          <mat-card class="creator-card">
            <img mat-card-image src="../../../assets/images/profile_Melvin.jpg" alt="Photo of Melvin">
            <mat-card-content>
              <p>Melvin September</p>
              <p>Personal <a href="https://github.com/melvinseptember">Github</a></p>
            </mat-card-content>
          </mat-card>
    </div>
    <h1>Contact Us</h1>
    <p>You can always contact <a href="mailto:melthodev@gmail.com">Meltho</a> for any questions.</p>

    <h1>FAQ</h1>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                  <span style="font-weight: bold;">What browsers support the File System Access API?</span>   
              </mat-panel-title>
            </mat-expansion-panel-header>
            <span>Currently most of the Chromium browsers are supported</span>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                  <span style="font-weight: bold;">How can I install this web application as a standalone app?</span>   
              </mat-panel-title>
            </mat-expansion-panel-header>
            <span>Next to the address bar, you will find an icon that looks like the following image. After giving permission to download the PWA, the app will appear on your homescreen<br></span>            
            <img src="../../../assets/images/pwa.png" alt="pwa icon">
          </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
                <span style="font-weight: bold;">What happens if I clear the cache?</span>   
            </mat-panel-title>
          </mat-expansion-panel-header>
          <span>When clearing the Cache, all music references will be removed from the stored data. This means that you will have to import the music back in.</span>
        </mat-expansion-panel>
      </mat-accordion> 
</div>
