<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bestelling</title>
    <link rel="stylesheet" th:href="@{/css/site.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />

</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" href="#">Imatex</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        <h1 class="text-center">Bestelling</h1>
        <h4 class="text-center" >Nieuwe bestelling bestaande klant</h4>
        <hr>
        <div class="row">
            <div class="col-sm-6">
                <form id="bestellingForm" method="POST" th:action="@{/bestelling}"  th:object="${bestellingModel}">
                    <input type="hidden" th:field="*{bestellingData.id}" />
                    <div class="form-group">
                        <label class="control-label">klantnummer*:&nbsp;</label>
                        <input class="form-control" type="number" min="0" th:field="*{bestellingData.klantnummer}" />
                        <span class="validationError"
                              th:if="#{fields.hasErrors('bestellingData.klantnummer')}"
                              th:errors="*{bestellingData.klantnummer}">klantnummerError
                            </span>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Verpakkingsinfo:&nbsp;</label>
                        <input class="form-control" type="text" th:field="*{bestellingData.verpakkingsInformatie}"/>
                        <span class="validationError"
                              th:if="#{fields.hasErrors('bestellingData.verpakkingsInformatie')}"
                              th:errors="*{bestellingData.verpakkingsInformatie}">verpakkingsInformatieError
                    </span>
                    </div>

                    <hr>

                    <div class="form-group">
                        <label class="control-label">Lengte*:&nbsp;</label>
                        <input class="form-control" type="text" th:field="*{schermData.lengte}"/>
                        <span class="validationError"
                              th:if="#{fields.hasErrors('schermData.lengte')}"
                              th:errors="*{schermData.lengte}">lengteError
                    </span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Breedte*:&nbsp;</label>
                        <input class="form-control" type="text" th:field="*{schermData.breedte}"/>
                        <span class="validationError"
                              th:if="#{fields.hasErrors('schermData.breedte')}"
                              th:errors="*{schermData.breedte}">breedteError
                    </span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Dikte*:&nbsp;</label>
                        <input class="form-control" type="text" th:field="*{schermData.dikte}" />
                        <span class="validationError"
                              th:if="#{fields.hasErrors('schermData.dikte')}"
                              th:errors="*{schermData.dikte}">dikteError
                    </span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Materiaal Type*:&nbsp;</label>
                        <input class="form-control" type="text" th:field="*{schermData.materiaalType}"/>
                        <span class="validationError"
                              th:if="#{fields.hasErrors('schermData.materiaalType')}"
                              th:errors="*{schermData.materiaalType}">materiaalTypeError
                    </span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Aantal*:&nbsp;</label>
                        <input class="form-control" type="number" min="1"  th:field="*{schermData.aantal}" />
                        <span class="validationError"
                              th:if="#{fields.hasErrors('schermData.aantal')}"
                              th:errors="*{schermData.aantal}">aantalTypeError
                    </span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Voorkeuren</label>
                        <textarea class="form-control" rows="3" th:field="*{schermData.voorkeuren}"/>
                        <span class="validationError"
                              th:if="#{fields.hasErrors('schermData.voorkeuren')}"
                              th:errors="*{schermData.voorkeuren}">voorkeurenTypeError
                    </span>
                    </div>


                    <div class="container">
                        <div class="row">
                            <button class="btn btn-success btn-md" name="schermToevoegen">Scherm toevoegen</button>
                            <button class="btn btn-primary btn-md" name="submit">Bestelling bevestigen</button>
                        </div>
                    </div>

                </form>
                <div th:if="${message2}!=null" class="alert alert-success" role="alert"  th:text="${message2}" style="margin-top: 5%">
                    &nbsp;
                </div>
                <div th:if="${message1}!=null" class="alert alert-danger" role="alert"  th:text="${message1}" style="margin-top: 5%">
                    &nbsp;
                </div>

            </div>
            <div class="col-sm-6">
                <h3>Schermen</h3>
                <table id="tableSchermen" class="table table-bordered well" style="width: 40rem">
                    <thead>
                    <tr>
                        <th class="text-center" scope="col">#</th>
                        <th class="text-center" scope="col">Lengte</th>
                        <th class="text-center" scope="col">Breedte</th>
                        <th class="text-center" scope="col">Dikte</th>
                        <th class="text-center" scope="col">Materiaal Type</th>
                        <th class="text-center" scope="col">Aantal</th>
                        <th class="text-center" scope="col">Voorkeuren</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="scherm : ${schermen}">
                        <th scope="row" class="text-center" th:text="${schermen.indexOf(scherm)+1}"></th>
                        <td class="text-center" th:text="${scherm.getLengte()}"></td>
                        <td class="text-center" th:text="${scherm.getBreedte()}"></td>
                        <td class="text-center" th:text="${scherm.getDikte()}"></td>
                        <td class="text-center" th:text="${scherm.getMateriaalType()}"></td>
                        <td class="text-center" th:text="${scherm.getAantal()}"></td>
                        <td class="text-center" th:text="${scherm.getVoorkeuren()}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</div>
</body>
</html>




