<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bestellingen Overzicht</title>
    <link rel="stylesheet" th:href="@{/css/site.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />

</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" href="#">Imatex</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        <h1 class="text-center">Bestelling</h1>
        <h4 class="text-center" >Overzicht</h4>
        <hr>
        <div class="row">
            <div class="col-sm-6">
                <table class="table" style="width: 100%">
                    <thead>
                    <tr>
                        <th class="text-center" scope="col">Bestellingsnummer</th>
                        <th class="text-center" scope="col">Klantnummer</th>
                        <th class="text-center" scope="col">Status</th>
                        <th class="text-center" scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="bestelling : ${bestellingen}">
                        <td class="text-center" th:text="${bestelling.bestellingsnummer}"></td>
                        <td class="text-center" th:text="${bestelling.klantnummer}"></td>
                        <td class="text-center" th:text="${bestelling.status}"></td>
                        <td class="text-center" >
                            <a class="btn btn-primary" th:href="@{/bestellingDetail.html(id=${bestelling.id})}">Details</a>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <hr>
        <div>
            <a href="/">Terug naar Home-pagina</a>
        </div>
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2021 - Imatex
    </div>
</footer>
</body>
</html>
