<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SchermOverzicht</title>
    <link rel="stylesheet" th:href="@{/css/site.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />

</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" href="#">Imatex</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        <h1 class="text-center">Schermen</h1>
        <h4 class="text-center" >Overzicht</h4>
        <hr>
        <div class="row">
            <div class="col-sm-6">
                <table class="table" style="width: 100%">
                    <thead>
                    <tr>
                        <th class="text-center" scope="col">ID</th>
                        <th class="text-center" scope="col">Lengte</th>
                        <th class="text-center" scope="col">Breedte</th>
                        <th class="text-center" scope="col">Dikte</th>
                        <th class="text-center" scope="col">Materiaal type</th>
                        <th class="text-center" scope="col">Voorkeuren</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="scherm : ${schermen}">
                        <td class="text-center" th:text="${scherm.id}"></td>
                        <td class="text-center" th:text="${scherm.lengte}"></td>
                        <td class="text-center" th:text="${scherm.breedte}"></td>
                        <td class="text-center" th:text="${scherm.dikte}"></td>
                        <td class="text-center" th:text="${scherm.materiaalType}"></td>
                        <td class="text-center" th:text="${scherm.voorkeuren}"></td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </main>
</div>
</body>
</html>
