<div class="logo">
  <img src="../../../assets/icons/icon-152x152.png">
</div>
<mat-nav-list>
  <!--routerLink zorgt ervoor dat de meegegeven data wordt opgezocht in de app-routing-module route array,
     die geeft dan aan naar welke component hij moet routen -->
  <a mat-list-item routerLink="/my-music">My Music</a>
  <a mat-list-item routerLink="/streaming">Streaming</a>
  <a mat-list-item routerLink="/playlists">Playlists</a>
  <a mat-list-item routerLink="/settings">Settings</a>
  <a mat-list-item routerLink="/about">About</a>
 
</mat-nav-list>
  